.Graph {
    background-color: #353839;
    border-radius: 5px;
    height: 66%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.rz-legend-item-text {
    color: #da4e25;
}
.rz-tick-text {
    color: #000000 !important;
}

.GaugeMeter {
    background-color: #353839;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.NewReadings {
    background-color: #353839;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.rz-gauge-pointer {
    color: #da4e25;
}
