.Graph {
    background-color: #353839;
    border-radius: 5px;
    height: 66%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.UpdateButton {
    background-color: #da4e25 !important;
    width: 115px;
    flex: auto;
    left: 9%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.rz-legend-item-text {
    color: #da4e25;
}
.rz-tick-text {
    color: #000000 !important;
}

.GaugeMeter {
    background-color: #353839;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.NewReadings {
    background-color: #353839;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.rz-gauge-pointer {
    color: #da4e25;
    fill: #da4e25;
}
.logButton {
    background-color: #da4e25;
    border-color: #00000052;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.UserImage {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imageRow {
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nameRow {
    align-items: center;
    align-content: center;
    justify-content: center;
}
.nameText {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
    color: white;
}
.buttomRow {
    width: 100%;
    height: 160px;
    background-color: #353839;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 0%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.rz-tick-line{

}
